<form action="/categories/create" method="post" accept-charset="utf-8">
	<p><label for="value">新建分类</label><input type="text" name="value" value=""></p>
	<p><input type="submit" value="创建"></p>
</form>